.App {
  text-align: center;
  background: #301547;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
    background: #301547;

}

h1,h2,h3,h4,h5{
  /* color:#fdee49; */
  color: #f3f1d5;
  text-shadow: 0 0 5px #fff1cc;
}

.topbtn{
  margin: 10px;
}



input:focus{
  outline: none;
  background: #21a0a0
}

.modalmenu{
    position: absolute;
    left: 50px;
    top: 20px;
}


/* -------* ---* */

.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 1px;
	height: 50%;
	background-color: #ff1696;
	right: 45px;
	top: 25%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}